$primaryColor: #2f3030

.wrapper
    display: flex
    position: relative

.social-icon 
    width: 40px
    height: 40px
    background: transparent
    filter: grayscale(100%) 
    border-top-left-radius: 5px
    border-top-right-radius: 5px

/* * Sidebar code */
.sidebar
    background-color: $primaryColor
    height: 100%
    overflow: hidden
    position: fixed
    transition: height .5s
    width: 45px
    /* * Default width of sidebar */
    -webkit-transition: width .5s
    -moz-transition: width .5s

    &:hover
        width: 180px

    &:hover>.sb-icon i
        transform: rotate(90deg)
        -webkit-transform: rotate(90deg)
        -moz-transform: rotate(90deg)

    &:hover>.social_media
        transform: translateX(-50%)

    a 
        text-decoration: none

    .sb-icon
        width: 100%
        height: 40px
        margin: 10px 10px 10px 0px
        text-align: center

        i
            -webkit-transition: -webkit-transform .5s ease-in-out
            -moz-transition: -moz-transform .5s ease-in-out
            transition: transform .5s ease-in-out

    /* * Options style */
    .sb-options-container 
        width: 100%
        height: 40px
        padding: 10px 0px 10px 2px

        &:hover 
            background-color: #3A3A3B

        .sb-options-icon 
            width: 40px
            height: 40px
            float: left
            text-align: center
            padding: 10px 0px

        .sb-options-text 
            margin-left: 70px
            line-height: 40px

    .social_media
        position: absolute
        bottom: 0
        left: 50%
        transform: translateX(-150%)
        display: flex
        transition: transform .5s 

        a
            // 594f8d
            display: block
            width: 40px
            height: 40px
            background-color: #3A3A3B
            line-height: 40px
            text-align: center
            margin: 0 5px
            // color: $primaryColor
            border-top-left-radius: 5px
            border-top-right-radius: 5px
            

        .ln-facebook

            &:hover
                background-color: #3B5998
                
            &:hover > i
                color: #ffffff
        
        .ln-twitter

            &:hover
                background-color: #1da1f2

            &:hover > i
                color: #ffffff
                
        .ln-instagram
            
            &:hover > img
                filter: grayscale(0%) 